
/* ==================global css start========== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Barlow Condensed', sans-serif;
    /* font-family: 'Do Hyeon', sans-serif; */
    overflow-x: hidden;
}
.padd-left{
    padding-left: 70px;
}
.section-padding{
    padding: 100px 0 ;
}
img{
    max-width: 100%;
}
.container-fluid{
    padding-left: 70px;
    padding-right: 70px;
}

.scroll-arrow{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@keyframes scrollAnimated{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

@keyframes arrow-animate {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}

/* ==================global css end========== */

/* =====text scroll start=== */
/* .scroll,.scroll2,.scroll3,.scroll4,.section-content,.project-item-title,.scroll-project-animate,
.main-image,.process-scroll{
    opacity: 0; 
    position: relative;
    bottom: -40px;
    transition: all 0.8s ease-out;
    display: inline-block;
} */
/* .scroll{
    transition-delay: 0.1s;
}
.scroll2{
    transition-delay: 0.2s;
}
.scroll3{
    transition-delay: 0.3s;
}
.scroll{
    transition-delay: 0.4s;
}
.show {
    opacity: 1;
    bottom: 0;
} */
/* =====text scroll end=== */

/* ===========preloader start======= */
.loader-wrapper {
    --line-width: 5px;
    --curtain-color: #f1faee;
    --outer-line-color: #a8dadc;
    --middle-line-color: #457b9d;
    --inner-line-color: #1d3557;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
  }
  
  .loader {
    display:block;
    position: relative;
    top:50%;
    left:50%;
  /*   transform: translate(-50%, -50%); */
    width:150px;
    height:150px;
    margin:-75px 0 0 -75px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--outer-line-color);
    border-radius:100%;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index:1001;
  }
  
  .loader:before {
    content:"";
    position: absolute;
    top:4px;
    left:4px;
    right:4px;
    bottom:4px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--inner-line-color);
    border-radius:100%;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  
  .loader:after {
    content:"";
    position: absolute;
    top:14px;
    left:14px;
    right:14px;
    bottom:14px;
    border:var(--line-width) solid transparent;
    border-top-color: var(--middle-line-color);
    border-radius:100%;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0%   { 
      -webkit-transform: rotate(0deg); 
        -ms-transform: rotate(0deg); 
            transform: rotate(0deg);
    }
    100% { 
      -webkit-transform: rotate(360deg); 
        -ms-transform: rotate(360deg); 
            transform: rotate(360deg);
    }
  }
  
  .loader-wrapper .loader-section {
    position:fixed;
    top:0;
    background:var(--curtain-color);
    width:51%;
    height:100%;
    z-index:1000;
  }
  
  .loader-wrapper .loader-section.section-left {
    left:0
  }
  .loader-wrapper .loader-section.section-right {
    right:0;
  }
  
  /* Loaded Styles */ 
  .loaded .loader-wrapper .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded .loader-wrapper .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s 0.3s cubic-bezier(0.645,0.045,0.355,1.000);
  }
  .loaded .loader {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .loaded .loader-wrapper {
    visibility: hidden;
    transform:translateY(-100%);
    transition: all 0.3s 1s ease-out;
  }
/* ===========preloader end======= */


/* ===========navBar start========== */

#toggle{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    position:relative;
    cursor: pointer;
}

#toggle .line{
    display: block;
    width: 28px;
    height: 3px;
    background: #0BBC5C;
    margin-bottom: 8px;
}
#toggle .line:nth-child(2) {
    width: 28px;
    margin-left: 6px;
}
#toggle .line:nth-child(3){
    margin-bottom: 0;
}
.navbar-brand{
    font-size: 32px;
    font-weight: 500;
}

li.nav-item a {
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
    color: #3A4554 !important;
    line-height: 0.7;
}
li.nav-item .hovered-link{
    color: #fff !important;
    position: relative;
    z-index: 999;
}
.navbar-nav .nav-item .round {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(58, 69, 84);
    margin: 2px 8px;
    display: inline-block;
}

/* ===========navBar end========== */

/* ===================main item start======= */
.main-content {
    margin-left: 10px;
}

.main-items{
    padding-top: 150px;
}
.main-content h1 {
    font-size: 140px;
    font-weight: 600;
    margin-left: 40px;
    line-height: 150px;
    color: #1A2634;
    margin-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: -1px;
}


.main-content .main-sm-text {
    font-size: 30px;
    font-weight: 500;
    color: #1A2634;
}
.header-content-num {
    font-size: 30px;
    display: inline-block;
    color: #8392A5;
    line-height: 0.7;
    position: relative;
    top: 30px;
    font-family: 'Do Hyeon', sans-serif;
}
.scroll-down {
    cursor: pointer;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.header-scroll-arrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.header-scroll-arrow img{
    width: 50px;
    height: 35px;
}

.main-image{
    transition: 0.5s;
    overflow: hidden;
    width: 100%;
}
.main-image img{
    width: 100%;
}
.scroll-down .scroll-animate{
    display: inline-block;
    animation: scrollAnimated 10s linear infinite;
}
.scroll-down .arrow-animate{
    animation: arrow-animate 1s linear infinite alternate;
}


/* ===================main item end======= */


/* ============================project section start======== */
.section-content{
    display: flex;
}
.section-title-text {
    font-size: 140px;
    line-height: 140px;
    margin-left: 40px;
    font-weight: 600;
    margin-bottom: 150px;
}
.section-num {
    font-size: 26px;
    font-family: 'Do Hyeon', sans-serif;
    color: #8392A5;
}

.project-item-title h2 {
    color: #3A4554;
    font-size: 42px;
    font-weight: 500;
}
.project-item-title h2 span {
    font-size: 18px;
    color: #8392A5;
    margin-left: 10px;
}
.project-item {
    margin-bottom: 100px;
}
.project-item-title{
    margin-top: 40px;
}

.round-box {
    background: #0BBC5C;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    padding: 15px;
    margin-top: 150px;
}
.round-box img {
    animation: box-animate 10s linear infinite;
}
@keyframes box-animate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform: rotate(360deg);
    }
}
/* ============================project section end======== */


/* ==============process section start===================== */

.process-item{
    margin-bottom: 50px;
    position: relative;
    /* transition:all 1s linear; */
    overflow: hidden;
}
.process-first-item,.process-fourth-item{
    /* max-width: 710px; */
    min-height: 380px;
    border:2px solid #1A2634;
    width: 100%;
}
.process-second-item,.process-third-item{
    /* max-width: 460px; */
    min-height: 380px;
    border:2px solid #1A2634;
    width: 100%;
}
.process-fourth-item,.process-third-item{
    margin-bottom: 0px;
}
.process-inner-item .round-item{
    width: 8px;
    height: 8px;
    border-radius:50%;
    background:#3A4554;
}
.process-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    font-family: 'Do Hyeon', sans-serif;
}

.process-footer-item {
	position: absolute;
	left: 40px;
	bottom: 40px;
	max-height: 50px;
    transition: all 1.5s ease-in-out;
	overflow: hidden;
}
.process-item:hover .process-footer-item {
	max-height: 100%;
}
.process-footer-item .process-tile {
	font-size: 42px;
	font-weight: 600;
	line-height: 50px;
	transform-origin: bottom;
}

.process-item .process-sm-text {
	font-size: 26px;
	font-weight: 400;
	line-height: 40px;
	margin-bottom: 0;
}


/* ==============process section end===================== */


/* ======================clients feedback section start==== */
.client-header-text h5 {
    font-size: 22px;
    color: #000;
    font-weight: 400;
    margin-bottom: 10px;
}
.client-body-text {
    max-width: 355px;
    min-height: 470px;
}
.client-body-text p {
    font-size: 26px;
    color: #1A2634;
    font-weight: 400;
    line-height: 40px;
}

.client-footer-text h5 {
    color: #1A2634;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 100px;
}

/* ====owl carousel=== */

.owl-nav {
    display: none;
}
.owl-dots {
    display: flex;
}
.owl-carousel button.owl-dot {
    width:100%;
    height: 3px;
    background: #C0CCDA;
}
.owl-carousel button.owl-dot.active {
    width: 550px;
    height: 3px;
    background: #1A2634;
    transition: 0.5s;
}

/* ====owl carousel=== */

/* ======================clients feedback section end==== */

/* ======================work with section start==== */
.work-with-item {
    background: #C0CCDA;
    width: 400px;
    height: 200px;
    margin: 7px;
}
/* ======================work with section end==== */

/* =================contact items start========= */
.contact{
    padding-top: 100px;
}
.contact-arrow{
    margin-left: 35px;
}
.contact-item {
    margin-bottom: 70px;
}
.contact-item h5 {
    font-size: 20px;
    color: #5C6877;
    font-weight: 400;
    margin-bottom: 30px;
}
.social-links a {
    display: block;
    margin-bottom: 0px;
    font-size: 28px;
    color: #1A2634;
    font-weight: 400;
    text-decoration: none;
}
.address-text a {
    margin-bottom: 0px;
    font-size: 28px;
    color: #1A2634;
    font-weight: 400;
    display:block;
    text-decoration: none;
}
.email a {
    font-size: 28px;
    color: #1A2634;
    font-weight: 400;
    text-decoration: none;
}
/* =================contact items end========= */

/* =======copyright text==== */
.copyright-text {
    border-top: 1px solid #E5E9F2;
    margin-bottom: 30px;
}
.copyright-left-text,.privacy-text,.tearm-condition-text p{
    color: #8392A5;
}